:root {
    --main-bg-color: hsl(257, 40%, 49%);
    --main-color: white;
    --main-font: 'Poppins';
}

* {
    box-sizing: border-box;
}

body {
    background: url('images/bg-desktop.svg') no-repeat center center fixed;
    background-color: var(--main-bg-color);
    background-size: cover;
    padding: 0;
    font-family: var(--main-font);
}

@media screen and (max-width: 400px) {
    body {
        background: url('images/bg-mobile.svg') no-repeat center center fixed;
        background-color: var(--main-bg-color);
        background-size: cover;
        padding: 0;
        font-family: var(--main-font);
    }
}

.container {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}

.navbar {
    margin-top: 30px;
}

#navbar__logo {
    width: 200px;
    cursor: pointer;
}

.flex-container {
    margin-top: 50px;
    display: flex;
    flex-flow: row wrap;
}

.block {
    flex: 1;
    margin: 10px;
}

#responsive-image {
    max-width: 500px;
}

@media (max-width: 600px) {
    #responsive-image {
        width: 400px;
    }
}

@media (max-width: 450px) {
    #responsive-image {
        width: 300px;
    }
}

.block__item {
    color: var(--main-color);
}

.block--bold-text {
    font-weight: bold;
}

.btn {
    padding: 15px 60px;
    border-radius: 24px;
    border: none;
    font-size: 16px;
    box-shadow: 4px 5px 10px 1px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.btn--white {
    color: var(--main-bg-color);
    background-color: var(--main-color);
}

.btn--small {
    padding: 10px 30px;
}

.btn--purple {
    color: var(--main-color);
    background-color: var(--main-bg-color);
}

.btn--white:hover {
    color: var(--main-color);
    background-color: hsl(257, 44%, 64%);
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.footer__icon {
    border: 1px solid var(--main-color);
    border-radius: 24px;
    padding: 5px 10px;
    margin: 7px;
    color: var(--main-color);
    cursor: pointer;
}

.footer__icon:hover {
    background-color: var(--main-color);
    color: var(--main-bg-color);
}

.modal-container {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 200;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-container--show-modal {
    display: flex;
}

.modal {
    background-color: var(--main-color);
    width: 40%;
    min-width: 300px;
    padding: 40px;
    height: 300px;
    border-radius: 10px;
    position: relative;
    text-align: center;
}

@keyframes modal-animation {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.modal-container--show-modal .modal {
    animation: modal-animation 0.3s;
}

.close-modal {
    position: absolute;
    font-size: 1.2em;
    font-weight: bold;
    top: 8px;
    right: 8px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: var(--main-bg-color);
    color: var(--main-color);
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
}

.modal__subtitulo {
    font-weight: bold;
}

.input {
    width: 100%;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid lightgrey;
}
